{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <section class="content">

        <div class="recent-projects">

            <h3>recent projects</h3>

        {% for value in data['projects'] %}

                <div class="project">

                    {% if value['preview'] %}
                        <div class="project-preview">
                            <img src="{{ url_for('static', filename='images/' + value['preview']) }}">
                        </div>
                    {% endif %}

                    <div class="project-meta">
                        <a href="{{ url_for('views.load_project', id=value['name']) }}">{{ value['title'] }}</a>

                        {% if value['timestamp'] %}
                            <p class="meta">Posted: {{ value['timestamp'] }}</p>
                        {% endif %}

                        {% if value['updated'] %}
                            <p class="meta">Updated: {{ value['updated'] }}</p>
                        {% endif %}
                    </div>

                </div>

        {% endfor %}

        </div>

        <div class="recent-articles">

            <h3>recent articles</h3>

            {% for value in data['articles'] %}

                    <div>

                        <div class="project-meta">
                            <a href="{{ url_for('views.load_article', id=value['name']) }}">{{ value['title'] }}</a>

                            {% if value['timestamp'] %}
                                <p class="meta">Posted: {{ value['timestamp'] }}</p>
                            {% endif %}

                            {% if value['updated'] %}
                                <p class="meta">Updated: {{ value['updated'] }}</p>
                            {% endif %}
                        </div>

                    </div>

            {% endfor %}

        </div>

    </section>

{% endblock %}


