{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <section class="content">

        {% for value in data %}
            <p>
                <a href="{{ url_for('views.load_page', id=value['name']) }}">{{ value['title'] }}</a>

                {% if value['timestamp'] %}
                    Posted: {{ value['timestamp'] }}
                {% endif %}
                    {% if value['preview'] %}
                        <div class="project-preview">
                            <img src="{{ url_for('static', filename='images/' + value['preview']) }}">
                        </div>
                    {% endif %}

                {% if value['updated'] %}
                    Updated: {{ value['updated'] }}
                {% endif %}

            </p>
        {% endfor %}

    </section>

{% endblock %}


