{% extends "base.html" %}

{% block title %}All Projects{% endblock %}

{% block content %}

    <div class="content all-projects">

    {% for d in data %}
        <h3 class="categories">{{ d }}s</h3>

        {% for project in data[d] %}
            <p class="project">
                <a href="{{ url_for('views.load_project', id=project['name']) }}">{{ project['title'] }}</a>

                {% if project['timestamp'] %}
                    <span>Posted: {{ project['timestamp'] }}</span>
                {% endif %}

                {% if project['updated'] %}
                    <span>Updated: {{ project['updated'] }}</span>
                {% endif %}

            </p>
        {% endfor %}

    {% endfor %}

    </div>

{% endblock %}


