{% extends "base.html" %}

{% block title %}All Projects{% endblock %}

{% block content %}

    {% for d in data %}
        <h2>{{ d }}</h2>

        {% for project in data[d] %}
            <p>
                <a href="{{ url_for('views.load_page', id=project['name']) }}">{{ project['title'] }}</a>

                {% if project['timestamp'] %}
                    Posted: {{ project['timestamp'] }}
                {% endif %}

                {% if project['updated'] %}
                    Updated: {{ project['updated'] }}
                {% endif %}

            </p>
        {% endfor %}

    {% endfor %}

{% endblock %}


