{% extends "base.html" %}

{% block title %}{{ data['title'] }}{% endblock %}

{% block scripts %}

    {{ super() }}
    <script src="{{ url_for('static', filename='js/toggleshow/toggleshow.js') }}"></script>

    <script>

        $(document).ready(function() {

            $('#toggleshow').toggleshow();

            $('.toggleshow2').toggleshow();

            $('.toggleshow3').toggleshow({
                mapContainers: [
                    {
                        main: '.toggleshow3',
                        inner: '.container1 .container2',
                        largeIcon: true
                    },
                    {
                        main: '.container1',
                        inner: '.child1',
                        largeIcon: false
                    },
                    {
                        main: '.child1',
                        inner: 'p .child2',
                        largeIcon: true
                    },
                    {
                        main: '.child2',
                        inner: 'p',
                        largeIcon: false
                    }
                ]
            });

        });

    </script>

{% endblock %}

{% block styles %}

    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toggleshow.css') }}">

{% endblock %}

{% block content %}

    <section class="content">

        <section class="project-info">
            <h2>{{ data['title'] }}</h2>
            <p class="post-date">Posted: {{ data['timestamp'] }}</p>
            <p class="project-description">
                Another jQuery plugin
            </p>
        </section>

        <section class="toggleshow-demo">
            <div class="example">
                <p class="demo-description">
                    A basic example with default options
                </p>
                <div class="demo">
                    <div id="toggleshow">
                        parent
                        <div>
                            child one
                            <p>inner content</p>
                        </div>
                        <div>
                            child two
                        </div>
                    </div>
                </div>
                <div class="code">
                    <pre><code>
        sample code goes here
                    </code></pre>
                </div>
            </div>

            <div class="example">
                <p class="demo-description">
                    Call the plugin on multiple elements using a class name
                </p>
                <div class="demo">
                    <div class="toggleshow2">
                        parent 1
                        <div>
                            child one
                            <p>
                                inner content
                            </p>
                        </div>
                        <div>
                            child two
                        </div>
                    </div>
                    <div class="toggleshow2">
                        parent 2
                        <div>
                            child one
                            <p>
                                inner content
                            </p>
                        </div>
                        <div>
                            child two
                        </div>
                    </div>
                </div>
                <div class="code">
                    <pre><code>
        sample code goes here
                    </code></pre>
                </div>
            </div>

            <div class="example">
                <p class="demo-description">
                    With default options
                </p>
                <div class="demo">
                    <div class="toggleshow3">
                        parent 1
                        <div class="container1">
                            container 1
                            <div class="child1">
                                child 1
                                <p>inner content</p>
                                <div class="child2">
                                    child two
                                    <p>inner content</p>
                                </div>
                            </div>
                        </div>
                        <div class="container2">
                            container 2
                            <p>inner content</p>
                        </div>
                    </div>
                </div>
                <div class="code">
                    <pre><code>
        sample code goes here
                    </code></pre>
                </div>
            </div>
        </section>

    </section>

{% endblock %}


