#demo-container .default-chart p {
    background-color: cadetblue;
    color: white;
    padding: 3px;
    border-bottom: 2px solid white;
    font-size: 12px;
}

#demo-container .x-axis, #demo-container .y-axis {
    font-size: 10px;
    fill: gray;
}

#demo-container .chart-title {
    text-align: center;
    font-weight: bold;
}

#demo-container .horizontalbar-chart {
    padding-top: 20px;
}

#demo-container .horizontalbar-chart .bar {
    fill: lightsteelblue;
    stroke: white;
}

#demo-container .horizontalbar-chart .y-axis .domain, #demo-container .horizontalbar-chart .x-axis .domain {
    fill: none;
    stroke: gray;
}

#demo-container .visualizer-controls {
    margin: -20px 0 10px 50px;
}

#demo-container svg a text {
    stroke: #661E6E;
}

#demo-container svg a text:hover {
    text-decoration: underline;
}
