@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(pacifico_script/stylesheet.css);

/* global styles */

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
    background-color: #E8E8E8;
}

body, .main-container, header {
    position: relative;
}

body .main-container {
    line-height: 160%;
}

a, a:active, a:visited {
    color: #661E6E;
}

a:hover {
    color: #AD60B5;
}

h1 {
    font-family: "pacifico_script", "Brush Script MT", cursive;
    font-size: 42px;
    line-height: 100%;
    color: #A545B0;
}

header h1 {
    border-bottom: 16px solid #D1D1D1;
    margin: 0 -2000px;
    padding: 25px 2000px 0 2000px;
}

.container {
    overflow: hidden;
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

.main-menu {
    position: absolute;
    top: 36px;
    right: 0;
}

.main-menu li {
    display: inline;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

.main-menu li a {
    padding: 8px 20px;
    background-color: #D8A9DE;
}

.main-menu li a:hover {
    background-color: #BA72C2;
    color: #E8E8E8;
}

footer {
    min-height: 60px;
    position: absolute;
    bottom: 0;
}

footer h6 {
    border-top: 36px solid #D1D1D1;
    margin: 0 -2000px;
    padding: 5px 2000px;
}

/* project page styles */

.content {
    padding: 15px 20px 75px;
}

.project-info {
    margin-bottom: 10px;
}

/* project page specific styles */
.recent-projects .project-preview {
    float: left;
    margin-right: 10px;
    /*
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    */
    border: 5px solid #E8E8E8;
    overflow: hidden;
    width: 125px;
    height: 125px;
}

.content.scraper {
    background-color: white;
}

