@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(pacifico_script/stylesheet.css);

/* global styles */

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
}

body, .main-container, header {
    position: relative;
}

body .main-container {
    line-height: 160%;
}

a, a:active, a:visited {
    color: #6E4173;
}

a:hover {
    color: #AD60B5;
}

h1 {
    font-family: "pacifico_script", "Brush Script MT", cursive;
    font-size: 42px;
    line-height: 100%;
    color: #C297C7;
}

header h1 {
    border-bottom: 16px solid #E3E3E3;
    margin: 0 -2000px;
    padding: 25px 2000px 0 2000px;
}

.container {
    overflow: hidden;
}

.main-container {
    margin: 0 auto;
    width: 80%;
    min-height: 100%;
}

.main-menu {
    position: absolute;
    top: 36px;
    right: 0;
}

.main-menu li {
    display: inline;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

.main-menu li a {
    padding: 8px 20px;
    background-color: #DEC8E0;
}

.main-menu li a:hover {
    background-color: #F3E6F5;
}

.content {
    min-height: 350px;
    padding: 15px 0 75px;
}

footer {
    position: absolute;
    bottom: 0;
    min-height: 60px;
}

footer h6 {
    border-top: 36px solid #E3E3E3;
    position: relative;
    margin: 0 -2000px;
    padding: 5px 2000px;
}

/* project page styles */

.project-info {
    margin-bottom: 10px;
}
