@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Croissant+One);

body {
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
}

body .main-container {
    line-height: 160%;
}

h1 {
    font-family: "Croissant One", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 42px;
    line-height: 100%;
}

header {
    margin: 25px 0;
}

header h1 {
    border-bottom: 3px solid #CECECE;
}

.container {
    overflow: hidden;
}

.main-container {
    margin: 0 auto;
    width: 60%;
}

.main-menu {
    display: inline;
}

.main-menu li {
    float: left;
    margin: 8px 5% 0 0;
    font-size: 14px;
    cursor: pointer;
}

