<!doctype html>
<html>

<head>
    {% block head %}

    <title>{% block title %}Portfolio{% endblock %}</title>
<!-- main styles go here -->
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}

    {% block scripts %}
<!-- main scripts go here -->
<!-- need to make a script file that checks for zepto support and loads jquery
    if needed -->
    <script src="{{ url_for('static', filename='js/libs/zepto.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/underscore-min.js') }}"></script>
    {% endblock %}

    {% endblock %}
</head>

<body>

    <section class="container main-container">

        <header class="container">
        {% block header %}

            <h1>{% block main_title %}Ming Beckwith{% endblock %}</h1>

            {% block navigation %}
            <ul class="main-menu">
                <li><a href="{{ url_for('load_index') }}">Home</a></li>
                <li><a href="{{ url_for('load_projects') }}">Projects</a></li>
                <li><a href="{{ url_for('load_about') }}">About</a></li>
            </ul>
            {% endblock %}

        {% endblock %}
        </header>

        <section>
        {% block content %}

        {% endblock %}
        </section>

        <footer>
        {% block footer %}

        {% endblock %}
        </footer>

    </section>

</body>

</html>
